* {
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    background-color: black;
    color: white;
    height: 10vh;
}

.logo {
    font-size: 30px;
    margin-left: 2vw;
    margin-top: 3vh;
    position: absolute;
}

.container-1 {
    gap: 40px;
    font-size: 20px;
    color: white;
    display: flex;
    margin-left: 75vw;
    margin-top: 1vh;
    position: absolute;
    justify-content: right;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 70vw;
    height: 70vh;
    margin: 15vh auto;
    gap: 25px;
}

.foto {
    background-color: gray;
    color: gray;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.foto1 {
    background-color: gray;
    color: gray;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.foto2 {
    background-color: gray;
    color: gray;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.textos {
    font-size: 35px;
    display: flex;
    gap: 460px;
    justify-content: center;
    margin-top: -40vh;
}

.not {
    margin-left: -62vw;
    position: absolute;
}

.not1 {
    margin-left: -15vw;
    position: absolute;
}

.not2 {
    margin-left: 33vw;
    position: absolute;
}

.container-2 {
    margin-top: 15vh;
}

.propaganda {
    color: white;
    border: 3px solid black;
    width: 20%;
    width: 30vw;
    height: 50vh;
    cursor: pointer;
    margin-left: 14.2vw;
    margin-top: 40vh;
}

.propa-txt {
    font-size: 30px;
    margin-left: 25vw;
}

.container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 20vw;
    height: 20vh;
    margin: 10vh auto;
    gap: 50px;
}

.imagens {
    background-color: gray;
    color: gray;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.imagens1 {
    background-color: gray;
    color: gray;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.container-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 20vw;
    height: 20vh;
    margin: 10vh auto;
    gap: 50px;
}

.imagens2 {
    background-color: gray;
    color: gray;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.imagens3 {
    background-color: gray;
    color: gray;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.container-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 20vw;
    height: 20vh;
    margin: 10vh auto;
    gap: 50px;
}

.imagens4 {
    background-color: gray;
    color: gray;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.imagens5 {
    background-color: gray;
    color: gray;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.container-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 20vw;
    height: 20vh;
    margin-top: -80vh;
    gap: 250px;
    margin-left: 17vw;
    font-size: 20px;
    position: absolute;
}

.container-7 {
    margin-left: 45vw;
    margin-top: -70vh;
    position: relative;
}

.text {
    margin-top: 4vh;
}

.text1 {
    margin-top: 4vh;
    margin-left: -5.2vw;
}

.text2 {
    margin-top: -1vh;
}
.text3 {
    margin-top: -1vh;
    margin-left: -5.2vw;
}

.text4 {
    margin-top: -1vh;
}

.text5 {
    margin-top: -1vh;
    margin-left: -5.2vw;
}